@model List<TravelTripProje.Models.Siniflar.BizeUlasın>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


    <div class="container">
        <label>Adres</label>
        @Html.TextBoxFor(x => x.Adres, new{ @class="form-control"})
        <br />
    </div>


