<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form method="post">

        <input type="hidden" placeholder="Id" name="Blogid"value="@ViewBag.ıd" required />
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />

        <input type="text" placeholder="Mail Adresi" required name="Mail" />
        <textarea placeholder="Yorum" name="Yorumm"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>




